html, body {
  height: 100%;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../kimono.png");
  margin: 0;
  background-size:100% 100%;
  padding: 0;
}

h1 {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  line-height: 120%;
  font-family: Arial, sans-serif;
  color: white;
  letter-spacing: -0.05em;
}

h2{
  padding-top: 10px;
}
h2, h5{
  color:rgb(76, 76, 76);
  margin-top:0px;
  margin-left:5px;
  margin-bottom:5px;
}

.trackFrequency{
  color:gray;
  font-size: 0.75em;
}

.notification{
  position:relative;
  width:80%;
  height:80%;
  margin-left: 10%;
  margin-right: 10%; 
  margin-top: 10%;
  color:white;
  background-color: white;
  box-shadow: 0px 0px 57px -14px rgba(0, 0, 0, 1);
  border-radius: 15px;
}

.item i:first-child{
  margin-top: 15px;
  margin-left: 13px;
}

.item{
   -webkit-transition: height .75s ease-in-out;
  position:relative;
  height: 80px;
 box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.26);
}

.notification .item:first-child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.type{
  float:left;
  height:inherit;
  width:75px;
  margin-right:10px;
  background-color: #5EC9B9;
}

.notification .item:first-child .type{
  border-top-left-radius: 15px;
}

.close{
  position:absolute; 
  right: 12px;
  top: 14px;
  color: rgb(126, 126, 126);
   -webkit-transition: color .25s ease-in-out;
}

.close:hover{
  color:red;
}

.blue{
 background-color: #5EC9B9;
}
.brown{
  background-color: #C9C0B7;
}
.orange{
  background-color: #FF946E;
}
.logo{
  position:absolute;
  bottom:0px;
  left:50%;
  width:100px;
  margin-left:-50px;
}