<!DOCTYPE html>
<html data-ng-app="myapp" data-ng-csp>
<head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <link href="styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="notification" ng-controller="NotificationsController as notifications">
        <div ng-repeat="item in notifications.notification">
        <div class="item" ng-class="item.shouldDisplay">
            <div class="type brown" ng-if="item.notificationMethod === 'EMAIL'"> <i class="fa fa-envelope fa-3x email"></i> </div>
            <div class="type orange" ng-if="item.notificationMethod === 'TEXT'"> <i class="fa fa-mobile-phone fa-4x phone" ></i> </div>
            <div class="type blue" ng-if="item.notificationMethod === 'CHROMENOTIFICATION'"> <i class="fa fa-desktop fa-3x desktop" ></i> </div>
            <h2> {{item.description}} <span class="trackFrequency">{{item.recurrence}}</span></h2>
            <h5>{{item.url}}</h5>

            <div class="close" ng-click="myFunction(item._id.$id)"> <i class="fa fa-times-circle fa-2x"></i> </div>
        </div>
        </div>

    
        <img src="./logo.png" alt="water logo" class="logo">
    </div>
     <script type="text/javascript" src="./scripts/jquery.min.js"></script>
    <script src="./assets/angular.min.js"></script>
     <script type="text/javascript" src="./scripts/app.js"></script>
</body>
</html>


